* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  width: 50%;
}

#insert {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

#insert label , #insert input {
  margin-right: 1%;
}

.completed {
  text-decoration: line-through 2px solid red;
  color: lightgray;
}

.selected {
  background-color: lightskyblue;
  border-radius: 4px;
  width: fit-content;
  color: white;
}

.item-tarefa {
  list-style: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1%;
  width: 100%;
}

@media screen and ( max-width : 1414px ) {

  main {
    width: 75%;
  }
}

@media screen and ( max-width : 950px ) {

  main {
    width: 100%;
  }
}

@media screen and ( max-width : 650px ) {

  #insert {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #insert button {
    margin-top: 1%;
  }
}
